<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Settings UI Design</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/style.css') }}" >
</head>
<body>
			{% if updated_account == 1 %}
			   <div class="login-msg alert alert-success alert-dismissible" id="updated_account" align="center">
				   <strong>Account details updated successfully!</strong>
			   </div>
		   {% endif %}
		   {% if updated_password == 1 %}
			   <div class="login-msg alert alert-success alert-dismissible" id="updated_password" align="center">
				   <strong>New password saved!</strong>
			   </div>
		   {% endif %}
			{% if updated_username_exists == 1 %}
			   <div class="login-msg alert alert-danger alert-dismissible" id="updated_username" align="center">
				   <strong>Username already taken. Try another?</strong>
			   </div>
			{% elif updated_username_exists == 2 %}
				<div class="login-msg alert alert-success alert-dismissible" id="updated_username_" align="center">
				   <strong>Username updated successfully!</strong>
			   </div>
		   {% endif %}
			{% if updated_email_exists == 1 %}
			   <div class="login-msg alert alert-danger alert-dismissible" id="updated_email" align="center">
				   <strong>Email already taken. Try another?</strong>
			   </div>
			{% elif updated_email_exists == 2 %}
				<div class="login-msg alert alert-success alert-dismissible" id="updated_email_" align="center">
				   <strong>Email updated successfully!</strong>
			   </div>
		   {% endif %}
		<script>

			$(function() {
				  setTimeout(function() { $("#updated_account").fadeOut(1500); }, 5000);
			})

		</script>
		<script>

			$(function() {
				  setTimeout(function() { $("#updated_password").fadeOut(1500); }, 5000);
			})

		</script>
			<script>

			$(function() {
				  setTimeout(function() { $("#updated_username").fadeOut(1500); }, 5000);
			})

		</script>
				<script>

			$(function() {
				  setTimeout(function() { $("#updated_email").fadeOut(1500); }, 5000);
			})

		</script>
				<script>

			$(function() {
				  setTimeout(function() { $("#updated_username_").fadeOut(1500); }, 5000);
			})

		</script>
				<script>

			$(function() {
				  setTimeout(function() { $("#updated_email_").fadeOut(1500); }, 5000);
			})

		</script>
	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5">Dashboard</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<h4 class="text-center" style="color:#007bff;">{{ users_details['username'] }}</h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1"></i> 
							Account
						</a>
						<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-address-card text-center mr-1"></i>
							Portfolio
						</a>
<!--						<a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">-->
<!--							<i class="fa fa-user text-center mr-1"></i> -->
<!--							Security-->
<!--						</a>-->
<!--						<a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">-->
<!--							<i class="fa fa-tv text-center mr-1"></i> -->
<!--							Application-->
<!--						</a>-->
<!--						<a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">-->
<!--							<i class="fa fa-bell text-center mr-1"></i> -->
<!--							Notification-->
<!--						</a>-->
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h4 class="mb-4">Update Name:</h4>

							<form action="/update_account" method="POST">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>First Name</label>
											<input type="text" class="form-control" name="firstname" value="{{ users_details['firstname'] }}">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Last Name</label>
											<input type="text" class="form-control" name="lastname" value="{{ users_details['lastname'] }}">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>username</label>
											<input type="text" class="form-control" name="username" value="{{ users_details['username'] }}" readonly>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Email</label>
											<input type="text" class="form-control" name="email" value="{{ users_details['email'] }}" readonly>
										</div>
									</div>
								</div>
								<div>
									<button class="btn btn-primary" type="submit">Update name</button>
<!--									<button class="btn btn-light">Cancel</button>-->
								</div>
							</form><br/>
						<hr>
							<h4 class="mb-4">Update Password:</h4>
							<form action="/update_password" method="POST">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Email</label>
											<input type="text" class="form-control" name="email" value="{{ users_details['email'] }}" readonly>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>New password</label>
											<input type="password" class="form-control" name="new_password">
										</div>
									</div>
								</div>
								<div>
									<button class="btn btn-primary">Update password</button>
								</div>
							</form>
						<hr>
							<h4 class="mb-4">Update Username:</h4>
							<form action="/update_username" method="POST">
									<div class="col-md-6">
										<div class="form-group">
											<label>Email</label>
											<input type="text" class="form-control" name="email" value="{{ users_details['email'] }}" readonly>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>New Username:</label>
											<input type="text" class="form-control" name="username" value="" placeholder="Enter new Username" >
										</div>
									</div>
								<div>
									<button class="btn btn-primary">Update username</button>
								</div>
							</form>
						<hr>
							<h4 class="mb-4">Update Email:</h4>
							<form action="/update_email" method="POST">
								<div class="col-md-6">
										<div class="form-group">
											<label>Username:</label>
											<input type="text" class="form-control" name="username" value="{{ users_details['username'] }}" readonly>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Email:</label>
											<input type="text" class="form-control" name="email" value="" placeholder="Enter new Email">
										</div>
									</div>
								<div>
									<button class="btn btn-primary">Update email</button>
								</div>
							</form>

					</div>
					<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
						<h4 class="mb-4">Portfolio Settings:</h4>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<a href="{{ url_for('update_portfolio') }}">Update Portfolio Details</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<a href="{{ url_for('delete_portfolio') }}">Delete Portfolio</a>
								</div>
							</div>
						</div>
						<hr>
						<h4 class="mb-4">Portfolios:</h4>
						<div class="row">
							<div class="col-md-6 template_dash">
								<div class="form-group view_dash_temp">
									<div class="dashboard_img">
										<img src={{url_for("static", filename="index/images/template1.png")}} alt="Template1" >
									</div>
								  	<a href="{{ url_for('portfolio', user_name=users_details['username']) }}" target="_blank"><button class="btn btn-primary">View Portfolio</button></a>
								</div>
							</div>
						</div>

<!--						<div>-->
<!--							<button class="btn btn-primary">Update</button>-->
<!--							<button class="btn btn-light">Cancel</button>-->
<!--						</div>-->
					</div>
					<div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
						<h3 class="mb-4">Security Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Login</label>
								  	<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Two-factor auth</label>
								  	<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="recovery">
										<label class="form-check-label" for="recovery">
										Recovery
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
						<h3 class="mb-4">Application Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="app-check">
										<label class="form-check-label" for="app-check">
										App check
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
										<label class="form-check-label" for="defaultCheck2">
										Lorem ipsum dolor sit.
										</label>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
					<div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
						<h3 class="mb-4">Notification Settings</h3>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification1">
								<label class="form-check-label" for="notification1">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification2" >
								<label class="form-check-label" for="notification2">
									hic nesciunt repellat perferendis voluptatum totam porro eligendi.
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="notification3" >
								<label class="form-check-label" for="notification3">
									commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
								</label>
							</div>
						</div>
						<div>
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-light">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	 <script src="{{ url_for('static', filename='index/js/jquery-3.3.1.min.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
